body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 54, 5, 0.705);
    color: rgb(52, 165, 52);
}

h1 {
    font-family: fantasy;
    font-size: 45px;
}
